@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: block;
  max-width: 60%;
  height: 95vh;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  border: 4px solid darkolivegreen;
  box-shadow: 0 0 20px darkolivegreen;
}

.Header {
  font-size: 4vw;
  color:beige;
  margin: 0;
  padding: 4vw;
  background-color: darkolivegreen;
  text-shadow: 0 0 5px lightgreen;
}

main {
  display: block;
  justify-items: center;
  align-content: center;
  overflow-y: hidden;
  width: 100%;
  height: calc(94vh - 14vw);
}

.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: darkolivegreen;
  padding-bottom: 2vh;
}

.input {
  width: 20vw;
  height: calc(2vw + 2vh);
  font-size: 2vw;
  padding-left: 1vw;
  border: none;
  border-radius: 5px;
}

#addButton {
  width: 12vw;
  height: calc(2vw + 2vh);
  font-size: 2vw;
  font-weight: 400;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}

#addButton:hover {
  background-color: black;
  color: white;
  font-size: 2.5vw;
}

.contactList {
  display: block;
  width: 100%;
  height: calc(90vh - 16vw);
  max-height:max-content;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact {
  display: block;
}

.contactText {
  font-size: 1.6vw;
  padding-left: 1vw;
}

.contactName {
  font-size: 3vw;
  text-align: center;
}

#contactMail {
  display: block;
  font-size: 2vw;
  text-align: center;
}

#delButton {
  display: block;
  width: 10vw;
  height: calc(2vw + 2vh);
  font-size: 2vw;
  font-weight: 400;
  background-color: brown;
  border: none;
  border-radius: 5px;
  margin-left: 44vw;
  margin-bottom: 1vh;
}

.emptyList {
  display: block;
  text-align: center;
  font-size: 3vw;
  margin: 20%;
}

.footer {
  display: inline;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: darkolivegreen;
}